/********** Range .rangeInput Styles **********/
/*Range Reset*/
.rangeInput[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 100%;
}

/* Removes default focus */
.rangeInput[type='range']:focus {
  outline: none;
}

/***** Chrome, Safari, Opera and Edge Chromium styles *****/
/* slider track */
.rangeInput[type='range']::-webkit-slider-runnable-track {
  background-color: #ec4899;
  height: 8px;
}

/* slider thumb */
.rangeInput[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -11px; /* Centers thumb on the track */

  /*custom styles*/
  background-color: #000;
  border: 1px solid #ec4899;
  height: 30px;
  width: 20px;
}

.rangeInput[type='range']:focus::-webkit-slider-thumb {
  outline: 3px dashed #ec4899;
  outline-offset: 3px;
}

/******** Firefox styles ********/
/* slider track */
.rangeInput[type='range']::-moz-range-track {
  background-color: #053a5f;
  height: 8px;
}

/* slider thumb */
.rangeInput[type='range']::-moz-range-thumb {
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0; /*Removes default border-radius that FF applies*/

  /*custom styles*/
  background-color: #000;
  border: 1px solid #ec4899;
  height: 30px;
  width: 20px;
}

.rangeInput[type='range']:focus::-moz-range-thumb {
  outline: 3px dashed #ec4899;
  outline-offset: 3px;
}
